<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AppView</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AppView.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppView</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				@*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</li>
				</ul>
				</div>*@
			</div>
		</nav>
	</header>
	<div class="row">
		<aside id="sidebar" class="sidebar col-2" style="background-color:lightgray; ">
			<div class="dropdown" style="margin-left:30px; padding:10px;line-height:15px;">
				<a asp-area="" asp-controller="Home" asp-action="Index">
				<button type="button" class="btn" >Trang chủ</button>
				</a>
			</div>
			<div class="dropdown" style="margin-left:30px; padding:10px;line-height:15px;">
				<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
					Dropdown button
				</button>
				<ul class="dropdown-menu" style="font-family:'Times New Roman'; font-size: 20px;line-height:25px;padding: 5px; margin:5px;">
					<li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Quản lý sản phẩm</a></li>
					<li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Quản lý người dùng</a></li>
					<li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Quản lý Voucher</a></li>
					<li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Sản phẩm Sale</a></li>
					<li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Hoá Đơn</a></li>
				</ul>
			</div>
		</aside>
		<div class="container col-10">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - AppView - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
