<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AppView</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AppView.styles.css" asp-append-version="true" />
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="SanPhamChiTiet" asp-action="TrangChu">AppView</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				@*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
				<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</li>
				</ul>
				</div>*@
			</div>
		</nav>
	</header>
	<div class="row">
		<aside id="sidebar" class="sidebar col-2" style="background-color:white;">
			<div class="dropdown" style="margin-left:30px; padding:10px;line-height:15px;">
				<a asp-area="" asp-controller="SanPhamChiTiet" asp-action="TrangChu">
					<button type="button" class="btn" style="font-size: 20px;color:black;"><i class='fas fa-home' style='font-size:24px; padding-right: 20px;'></i>Trang chủ</button>
				</a>
			</div>
			<div class="dropdown" style="margin-left:30px; padding:10px;line-height:15px;">
				<a asp-area="" asp-controller="SanPhamChiTiet" asp-action="ShowAllSpSale">
					<button type="button" class="btn" style="font-size: 20px;color:black;"><i class='fab fa-creative-commons-nc' style='font-size:24px; padding-right: 20px;'></i>Sản phẩm Sale</button>
				</a>
			</div>
			<div id="accordion">
				<div class="card" style="border-color:white;">
					<div class="card-header" style="margin-left:30px; padding:10px;line-height:15px; background-color:white;">
						<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo" style="font-size: 20px; color:black;">
							<i class="fa fa-user-circle-o" style="font-size:24px; padding-right: 20px;"></i>Tài khoản
						</a>
					</div>
					<div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
						<div class="list-group" style="margin-left:30px; padding:10px;line-height:15px;">
							<a asp-area="" asp-controller="Home" asp-action="Privacy" class="list-group-item"><i class='fas fa-sign-in-alt' style='font-size:17px; padding-right: 20px;'></i>Đăng nhập</a>
							<a asp-area="" asp-controller="Account" asp-action="GioHangCT" class="list-group-item"><i class='fas fa-cart-plus' style='font-size:17px; padding-right: 20px;'></i>Giỏ hàng</a>
							<a asp-area="" asp-controller="Account" asp-action="GetAllBill" class="list-group-item"><i class='fas fa-money-check' style='font-size:17px; padding-right: 20px;'></i>Lịch sử mua hàng</a>
							<a asp-area="" asp-controller="Home" asp-action="Privacy" class="list-group-item"><i class="fa fa-gear" style="font-size:17px; padding-right: 20px;"></i>Cài đặt</a>
							<a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item"><i class='fas fa-sign-out-alt' style='font-size:17px ;  padding-right: 20px;'></i>Đăng xuất</a>
						</div>
					</div>
				</div>
				<div class="card" style="border-color:white;">
					<div class="card-header" style="margin-left:30px; padding:10px;line-height:15px; background-color:white;">
						<a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree" style="font-size: 20px; color:black;">
							<i class='fas fa-th-list' style='font-size:24px; padding-right: 20px;'></i>Quản lý
						</a>
					</div>
					<div id="collapseThree" class="collapse" data-bs-parent="#accordion">
						<div class="list-group" style="margin-left:30px; padding:10px;line-height:15px;">
							<a asp-area="" asp-controller="SanPhamChiTiet" asp-action="ShowAllSPCT" class="list-group-item">Quản lý sản phẩm</a>
							<a asp-area="" asp-controller="NguoiDung" asp-action="GetAllKH" class="list-group-item">Quản lý người dùng </a>
							<a asp-area="" asp-controller="Voucher" asp-action="GetAllVoucher" class="list-group-item">Quản lý Voucher</a>
							<a asp-area="" asp-controller="Sale" asp-action="ShowAllSale" class="list-group-item">Sản phẩm Sale</a>
							<a asp-area="" asp-controller="Account" asp-action="GetAllBill" class="list-group-item">Hoá Đơn</a>
						</div>
					</div>
				</div>
			</div>
		</aside>
		<div class="container col-10">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - AppView - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
